@use "base-vars";
@use "placehold-box";

.hic-sunt-contenutos .cima-de-griglia {
    display: grid;
    margin: 4px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4px;
    row-gap: 4px;
    background-color: white;
    .coso-quello-grosso {
	@include placehold-box.placehold-box($color: lightgreen, $margin: 0);
	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 3;
	grid-column-end: 3;
	aspect-ratio: 4 / 3;
    }
    .altro-meno-grosso {
	@include placehold-box.placehold-box($color: lightblue, $margin: 0);
	aspect-ratio: 4 / 3;
    }
}

@media screen and (max-width:base-vars.$width-poco-stretta) {
    .hic-sunt-contenutos .cima-de-griglia {
	grid-template-rows: repeat(3, 1fr) ;
	grid-template-columns: repeat(2, 1fr);
    }
}
