@use "base-vars";

.flex-che-ci-sta {
    display: flex;
    flex-direction: row;
    /* qui metto solo quanto riguarda
     * la flexboxaggine
     * quanto di pertinente al singolo elem.
     * va nell'apposito scss */
    .this-just-in {
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 1;
    }
    .hic-sunt-contenutos {
	flex-basis: 360;
	flex-grow: 3;
	flex-shrink: 2;
    }
    .spam-a-lato {
	flex-basis: 240;
	flex-grow: 2;
	flex-shrink: 1;
    }
}

@media screen and (max-width:base-vars.$width-inizia-strettino) {
    .flex-che-ci-sta {
	.this-just-in {
	    display: none;
	}
    }
}
