@use "base-vars";
@use "placehold-box";
@use "ratio-mixin";

.hic-sunt-contenutos .griglia-minore-con-tutto {
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    .articolo-di-quelli {
        img {
            object-fit: cover;
        }
        h3 {
            font-size: large;
        }
    }
}

@media screen and (max-width:base-vars.$width-molto-stretta) {
    .hic-sunt-contenutos .griglia-minore-con-tutto {
	grid-template-columns: 1fr;
	background-color: lightgray;
	.articolo-di-quelli {
	    height: 100px;
	    width: 100%;
	    border-style: solid;
	    border-color: solid;
	    border-width: 1px;
	    border-color: darkgray;
	    background-color: white;
	    display: flex;
	    .wrap-4-3 {
		flex-basis: 120px;
		flex-grow: 0;
		height: 100%;
		// width: auto;
	    }
	    h3 {
		flex-basis: 100px;
		flex-grow: 1;
		font-size: large;
	    }
	}
    }
}
