
.riga-articoli {
    .header-riga-articoli h2 {
	width: 300px;
	border-style: solid;
	boreder-color: black;
	border-width: 5px 0 0 0;
    }
    .body-riga-articoli {
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	img {
	    width: 100%;
	}
    }
}
