@use "placehold-box";
.spam-a-lato {
    @include placehold-box.placehold-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    a {
	text-decoration: none;
	color:black;
    }
    a:hover {
	color:white;
	background-color: black;
    }
}
