@use "base-vars";
@use "placehold-box";

.this-just-in {
    display: flex;
    @include placehold-box.placehold-box;
    flex-direction: column;
    h3 {
	color: black;
    }
    a {
	padding: 3px;
	color: black;
	text-decoration: none;
    }
    a:hover {
	color:white;
	background-color: black;
    }
}
